<div class="white-block card-igs">
  <h2>ImplementationGuides installed on the server</h2>

  <table>
    <thead>
    <tr>
      <th>Package</th>
      <th>Version</th>
      <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="selectRow(ig)" *ngFor="let ig of igs">
      <td>{{ ig.packageId }}</td>
      <td class="secondary">{{ ig.version }}</td>
      <td class="secondary">{{ ig.title }}</td>
    </tbody>
  </table>
</div>

<div class="white-block Search card-igs">
  <h3>Install an ImplementationGuide</h3>

  <mat-form-field>
    <mat-label>PackageId</mat-label>
    <input [formControl]="addPackageId" matInput/>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Version</mat-label>
    <input [formControl]="addVersion" matInput/>
  </mat-form-field>
  &nbsp;
  <mat-form-field style="width: 50vw">
    <mat-label
    >Package url (optional, use only if not available through
      <a href="https://packages.fhir.org">packages.fhir.org</a>)
    </mat-label
    >
    <input [formControl]="addUrl" matInput/>
  </mat-form-field>

  <button (click)="onSubmit()" type="submit">Upload</button>
  <ng-container *ngIf="selection"
  >&nbsp;
    <button (click)="onUpdate()" type="submit">Update</button>
  </ng-container>
  <ng-container *ngIf="selection"
  >&nbsp;
    <button (click)="onDelete()" type="submit">Delete</button>
  </ng-container>
</div>

<ng-container *ngIf="update">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</ng-container>

<div *ngIf="errorMessage" class="white-block logs">
  <h2>Result of the last operation</h2>

  <app-operation-result *ngIf="operationResult" [operationResult]="operationResult"></app-operation-result>
</div>
