<mat-card class="primary">
  <mat-card-content>
    <button mat-menu-item routerLink="/validate">
      <mat-icon>rule</mat-icon>
      <span>Validate resource</span>
    </button>
    <button mat-menu-item routerLink="/igs">
      <mat-icon>info</mat-icon>
      <span>Installed IGs</span>
    </button>
    <button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <p>Other tools:</p>
    <ul>
      <li>
        <a href="https://fhirpath-lab.com/fml" target="_blank">Select matchbox in Fhirpath Lab top right to use FML with our test instance</a>
      </li>
      <li>
        <a href="https://tx.fhir.org/tx-reg/" target="_blank">FHIR Tx Server Registry</a>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <p>
      matchbox version: {{ version }} | <a href="https://www.ahdis.ch" rel="external nofollow noopener" target="_blank">
      contact</a>
    </p>
  </mat-card-footer>
</mat-card>
