@import '../../variables';

mat-card.primary {
  mat-card-content {
    button {
      margin-right: 20px;

      mat-icon {
        margin-right: 8px;
        vertical-align: middle;
        color: #68c39a;
      }
    }
  }

  p {
    margin: 30px 0 15px;
  }

  mat-card-footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
