HAPI_FHIR_PORT=8080
POSTGRES_DB=hapi
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_HOST=hapi-fhir-postgres
POSTGRES_PORT=5432
HIBERNATE_DIALECT=ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgresDialect
