<!DOCTYPE html>
<html lang="en">
<head th:include="tmpl-head :: head">
    <title>About This Server</title>
</head>

<body>
<form action="" method="get" id="outerForm">
    <div th:replace="tmpl-navbar-top :: top"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="tmpl-navbar-left :: left"></div>

            <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">

                <div th:replace="tmpl-banner :: banner"></div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">About This Server</h3>
                    </div>
                    <div class="panel-body">
                        <div id="replacementAbout">
                            <p>
                                This server provides a complete implementation of the FHIR Specification
                                using a 100% open source software stack.
                            </p>
                            <p>
                                This server is built
                                from a number of modules of the
                                <a href="https://github.com/hapifhir/hapi-fhir/">HAPI FHIR</a>
                                project, which is a 100% open-source (Apache 2.0 Licensed) Java based
                                implementation of the FHIR specification.
                            </p>

                        </div>
                    </div>


                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Data On This Server</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            This UI can be customized!
                            You might want to put rules on who can use this server here, or
                            notices about privacy, or whatever else you want..
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div th:replace="tmpl-footer :: footer"></div>
    </form>
</body>
</html>
<script>
    // Function to check if a file exists using AJAX
    function fileExists(filePath, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                callback(xhr.status === 200);
            }
        };
        xhr.open("HEAD", filePath, true);
        xhr.send();
    }

    // Replace content if the replacement exists
    fileExists("content/custom/about.html", function(exists) {
        if (exists) {
            loadFile("content/custom/about.html", function(content) {
                var replacementContainer = document.getElementById("replacementAbout");
                replacementContainer.innerHTML = content;
            });
        }
    });

    // Function to load file content using AJAX
    function loadFile(filePath, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                callback(xhr.responseText);
            }
        };
        xhr.open("GET", filePath, true);
        xhr.send();
    }
</script>