<!DOCTYPE html>
<html lang="en">
<div th:fragment="banner">
    <div class="row" style="margin: 20px;padding-bottom: 20px;">
        <div class="col-md-8">
            <img id="logo" src="img/Whitefox.logo.svg" height="74" alt="Whitefox Logo"/>
        </div>
        <div class="col-md-4" style="padding-top: 10px;">
            <img src="img/hapi_fhir_banner_right.png" height="54" align="right"/>
        </div>
    </div>

    <script>

        document.title = "Whitefox Test FHIR Server";

        const liElement = document.querySelector('.nav-item.dropdown');
        if (liElement) {
            liElement.remove();
        }

        const sidebarDiv = document.querySelector('.sidebar');
        if (sidebarDiv) {
            sidebarDiv.style.padding = '20px';
        }

        const customlogoImageUrl = "img/Whitefox.logo.svg"; // Custom logo
        const defaultLogoImageUrl = "img/Whitefox.logo.svg"; // Default logo
        const logoImageElement = document.getElementById("logo");

        // Check if the logo image is available
        const logoImg = new Image();
        logoImg.src = customlogoImageUrl;

        logoImg.onload = function() {
            // Logo image is available
            logoImageElement.src = customlogoImageUrl;
        };

        logoImg.onerror = function() {
            // Logo image is not available, use the default logo image
            logoImageElement.src = defaultLogoImageUrl;
        };


    </script>
    <!-- Error banner in case anything went wrong -->
    <div class="alert  alert-danger alert-dismissable" th:if="${errorMsg} != null">
        <strong>Warning!</strong>
        <p th:text="${errorMsg}"></p>
    </div>

</div>
</html>
