<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This server is built to support the International Patient Summary 
			(IPS) through an adapation of the
			<a href="https://github.com/hapifhir/hapi-fhir/">HAPI FHIR</a>
			project, which is a 100% open-source (Apache 2.0 Licensed) Java based
			implementation of the FHIR specification.		
		</p>
		<p>
			This server supports a HL7 FHIR R4 $summary operation to retrieve a document 
			Bundle that conforms to the 
			<a href="http://build.fhir.org/ig/HL7/fhir-ips/">FHIR Implementation Guide for IPS</a>. 
			You can load data using standard FHIR R4 API interactions and generate new summaries. The server has been 
			pre-loaded with a set of example patients to demonstrate IPS documents. This server and the 
			supporting code are under active development and may change. Reach out through the HL7
			<a href="https://chat.fhir.org/#narrow/stream/207835-IPS">FHIR community</a>   
		</p>
		<p>
			Here are some useful links to learn more:
			<ul>
				<li>
					<a href="https://international-patient-summary.net/">General IPS Introduction</a>   
				</li>
				<li>
					<a href="https://github.com/jddamore/fhir-ips-server/blob/main/docs/Project_Overview.md">Project Overview</a>   
				</li>
				<li>
					<a href="https://github.com/jddamore/fhir-ips-server/blob/main/docs/Examples_Documentation.md">Example Documentation</a>   
				</li>
				<li>
					<a href="https://github.com/jddamore/fhir-ips-server/tree/main/docs">Server Documentation</a>   
				</li>
				<li>
					<a href="https://www.hl7.org/">Health Level Seven (HL7), International</a>   
				</li>
				<li>
					<a href="https://moreinformatics.com/">More Informatics (John D'Amore, contributor/hosting)</a>   
				</li>
				<li>
					<a href="https://crossroadslabs.com/">Crossroad Labs (Rio Bennin, developer)</a>   
				</li>
				<li>
					<a href="mailto:rob@hausamconsulting.com">Hausam Consulting (Rob Hausam, contributor)</a>   
				</li>
			</ul>
		</p>
	</div>
</html>
