<div class="attachment-field">
  <div
    (dragenter)="onDragEnter()"
    (dragleave)="onDragLeave()"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    [class.file-over]="dragCounter > 0"
    class="drop-zone"
  >
    <mat-icon
      (dragenter)="onDragEnter()"
      (dragleave)="onDragLeave()"
      (dragover)="onDragOver($event)"
    >cloud_upload</mat-icon
    >
    <div
      (dragenter)="onDragEnter()"
      (dragleave)="onDragLeave()"
      class="bold-text"
    >
      Drop file here
    </div>
    <div class="spacer">or</div>
    <button
      (click)="fileInput.click()"
      color="primary"
      mat-raised-button
      type="button"
    >
      Add file
    </button>
  </div>
</div>
<input #fileInput (change)="onDrop($event)" hidden type="file"/>
