<mat-card class="card-maps">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>{{ title }}</mat-card-title>
    </mat-card-header>
    <div *ngIf="outcome">
      <div *ngFor="let issue of outcome.issue" class="issue">
        <a class="{{ issue.severity }}" (click)="scroll(getLineNo(issue))"
          >{{ getLineFromExtension(issue) }}: {{ getLocation(issue) }}</a
        >:<br />
        <ng-container *ngIf="hasSliceInfo(issue) == false">
          {{ issue.diagnostics }}
        </ng-container>
        <ng-container *ngIf="hasSliceInfo(issue)">
          <ol>
            <li *ngFor="let sliceInfo of getSliceInfo(issue)" class="issue">
              {{ sliceInfo }}
            </li>
          </ol>
        </ng-container>
      </div>
    </div>
    <div
      class="app-ace-editor"
      #editor
      style="width: 100%; height: 500px"
    ></div>
  </mat-card-content>
</mat-card>
