server:
   port: 8085

spring:
   main:
      allow-circular-references: true
   flyway:
      enabled: false
      check-location: false
      baselineOnMigrate: true
   cache:
      jcache:
         config: classpath:ehcache.xml
   servlet:
      multipart:
         max-file-size: 50MB
         max-request-size: 50MB
# database connection pool size
   jpa:
      properties:
         hibernate.format_sql: true
         hibernate.ddl-auto: none
         hibernate.naming.physical-strategy : org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
         hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
         hibernate.connection.driver_class: com.mysql.cj.jdbc.Driver
         hibernate.connection.provider_class: org.hibernate.hikaricp.internal.HikariCPConnectionProvider
         hibernate.connection.url: 'jdbc:mysql://localhost:3306/hapi'
         hibernate.dialect.storage_engine: innodb
         hibernate.jdbc.batch_size: 20
         hibernate.connection.username: admin
         hibernate.connection.password: admin
         hibernate.hikari.minimumIdle: 5
         hibernate.hikari.maximumPoolSize: 10
         hibernate.hikari.dataSource.cachePrepStmts: true
         hibernate.hikari.dataSource.prepStmtCacheSize: 250
         hibernate.hikari.dataSource.prepStmtCacheSqlLimit: 2048
         hibernate.hikari.dataSource.useServerPrepStmts: true
         hibernate.hikari.dataSource.useLocalSessionState: true
         hibernate.hikari.dataSource.rewriteBatchedStatements: true
         hibernate.hikari.dataSource.cacheResultSetMetadata: true
         hibernate.hikari.dataSource.cacheServerConfiguration: true
         hibernate.hikari.dataSource.elideSetAutoCommits: true
         hibernate.hikari.dataSource.maintainTimeStats: false
         hibernate.javax.cache.missing_cache_strategy: create
         hibernate.cache.use_query_cache: true
         hibernate.cache.use_second_level_cache: true   
         
#      hibernate.hbm2ddl.auto: update
   batch:
#      hibernate.jdbc.batch_size: 20
      job:
         enabled: false
logging:
   level:
      org:
         hibernate:
            type: DEBUG
      com:
         zaxxer:
            hikari: DEBUG 
tus-server:
   file-directory: Images
   context-path: /api/upload
   
hapi:
   fhir:
#      hibernate.cache.use_structured_entries: false
      openapi_enabled: true
      fhir_version: R4
#      hibernate.cache.use_minimal_puts: false
      image_path: Images
      country_org_id: nigeria
###    These settings will enable fulltext search with lucene
#      hibernate.search.enabled: true
#      hibernate.search.backend.type: lucene
#      hibernate.search.backend.analysis.configurer: ca.uhn.fhir.jpa.search.HapiLuceneAnalysisConfigurer
#      hibernate.search.backend.directory.type: local-filesystem
#      hibernate.search.backend.directory.root: target/lucenefiles
#      hibernate.search.backend.lucene_version: lucene_current
      envs: C:\Workspace\anc-oyo\data\hapi\envs
      notification_datasource_config_path: C:\Workspace\anc-oyo\data\hapi\notificationDataSourceConfig.xml
      anc_config_file: C:\Workspace\anc-oyo\data\hapi\anc_config.json
      filters_config_file: C:\Workspace\anc-oyo\data\hapi\filters_config.json
      daily_and_summary_config_file: C:\Workspace\anc-oyo\data\hapi\daily_and_summary_config.json
      pie_config_file: C:\Workspace\anc-oyo\data\hapi\pie_config.json
      gcp_credential_file_path: C:\Workspace\anc-oyo\data\hapi\gcpCredential.json
      sql_screen_time_file_path: C:\Workspace\anc-oyo\data\hapi\sql_screen_time.txt
      line_chart_definitions_file: C:\Workspace\anc-oyo\data\hapi\chart_definition.json
      tabular_config_file: C:\Workspace\anc-oyo\data\hapi\tabular_config.json
      analytics_config_file: C:\Workspace\anc-oyo\data\hapi\analytics_config.json
      pk_file: C:\Workspace\anc-oyo\data\hapi\pk.txt
      dashboard_public_key_file: C:\Workspace\anc-oyo\data\hapi\pk.txt
      organization_ids_for_caching:
        - "c91ee7cd-f994-4771-8863-3713e6e52e98"
        - "b759ff8c-e659-4adf-adc3-8bdc17733b14"
      envs_for_caching:
        - "impact-health-v1"
        - "impact-health-v2"
      dev_user_role: dev
      executor_core_pool_size: 4
      executor_max_pool_size: 6
      executor_queue_capacity: 50000
      executor_thread_name_prefix: AsynchThread-
      keycloak_server_address: http://localhost:8081/auth
      keycloak_realm: master
      keycloak_client_realm: fhir-hapi
### This enables the swagger-ui at /fhir/swagger-ui/index.html as well as the /fhir/api-docs (see https://hapifhir.io/hapi-fhir/docs/server_plain/openapi.html)
      keycloak_client_Id: fhir-hapi-realm
### This is the FHIR version. Choose between, DSTU2, DSTU3, R4 or R5
      fhir_hapi_client_id: fhir-hapi-server
      fhir_hapi_client_secret: xyz
      keycloak_username: managegroup
      keycloak_password: 12345
      sms_password: IPRDHACEY123
      fhir_user: kjois@iprdgroup.com
      fhir_password: 12345
      hapi_server_address: http://testhost.dashboard:8085/fhir
      advanced_lucene_indexing: true
      fhirpath_interceptor_enabled: true
      mdm_enabled: false
      cors:
         allow_Credentials: true
### enable to use the ApacheProxyAddressStrategy which uses X-Forwarded-* headers
      allowed_origin:
#    enforce_referential_integrity_on_delete: false
      - '*'
### to determine the FHIR server address
      search-coord-core-pool-size: 2
#    enforce_referential_integrity_on_write: false
      search-coord-max-pool-size: 500
#   use_apache_address_strategy: false
### forces the use of the https:// protocol for the returned server address.
### alternatively, it may be set using the X-Forwarded-Proto header.
#   use_apache_address_strategy_https: false
### enable to set the Server URL
#    server_address: http://hapi.fhir.org/baseR4
#    defer_indexing_for_codesystems_of_size: 101
#    install_transitive_ig_dependencies: true
#    implementationguides:
###    example from registry (packages.fhir.org)
#      swiss:
#        name: swiss.mednet.fhir
#        version: 0.8.0
#      example not from registry
#      ips_1_0_0:
#        url: https://build.fhir.org/ig/HL7/fhir-ips/package.tgz
#        name: hl7.fhir.uv.ips
#        version: 1.0.0
#    supported_resource_types:
#      - Patient
#      - Observation
#    allow_cascading_deletes: true
#    allow_contains_searches: true
#    allow_external_references: true
#    allow_multiple_delete: true
#    allow_override_default_search_params: true
#    auto_create_placeholder_reference_targets: false
#    cql_enabled: true
#    default_encoding: JSON
#    default_pretty_print: true
#    default_page_size: 20
#    delete_expunge_enabled: true
#    enable_repository_validating_interceptor: false
#    enable_index_missing_fields: false
#    enable_index_contained_resource: false
#    advanced_lucene_indexing: false
#    filter_search_enabled: true
#    graphql_enabled: true
      search-coord-queue-capacity: 200000
#    etag_support_enabled: true
#    expunge_enabled: true
#    daoconfig_client_id_strategy: null
#    client_id_strategy: ALPHANUMERIC
#    partitioning:
# These are allowed_origin patterns, see: https://docs.spring.io/spring-framework/docs/current/javadoc-api/org/springframework/web/cors/CorsConfiguration.html#setAllowedOriginPatterns-java.util.List-
      tester:
#    narrative_enabled: true
#    mdm_enabled: true

#    local_base_urls:
#      - https://hapi.fhir.org/baseR4
         home:
            name: Local Tester
            server_address: http://localhost:8085/fhir
#      allow_references_across_partitions: false
#      partitioning_include_in_search_hashes: false
# Search coordinator thread pool sizes
            refuse_to_fetch_third_party_urls: false
            fhir_version: R4
         global:
            name: Global Tester
            server_address: http://hapi.fhir.org/baseR4
# Threadpool size for BATCH'ed GETs in a bundle.
            refuse_to_fetch_third_party_urls: false
            fhir_version: R4
      logger:
         error_format: ERROR - ${requestVerb} ${requestUrl}
#    bundle_batch_pool_size: 10
         format: Path[${servletPath}] Source[${requestHeader.x-forwarded-for}] Operation[${operationType} ${operationName}
            ${idOrResourceName}] UA[${requestHeader.user-agent}] Params[${requestParameters}] ResponseEncoding[${responseEncodingNoDefault}]
         log_exceptions: true
         name: fhirtest.accss
#    bundle_batch_pool_max_size: 50
      max_binary_size: 104857600
      max_page_size: 200
      retain_cached_searches_mins: 30
      reuse_cached_search_results_millis: 6000
keycloak:
   auth-server-url: http://testhost.dashboard:8081/auth
   realm: fhir-hapi
   resource: fhir-hapi-server
   credentials:
      secret: d9ce06c8-9d26-48b6-a2ac-5f1069afc691
   ssl-required: external
# ------------------
# ------------------
# Orphaned comments:

# ------------------
# Was at begin of line:189 :# ------------------
# Was at begin of line:190 :# Orphaned comments:
# Was at begin of line:192 :# ------------------
# Was at begin of line:193 :# Was at begin of line:193 :# Orphaned comments:
# Was at begin of line:194 :# Was at begin of line:194 :# ------------------
# Was at begin of line:195 :# Was at begin of line:195 :# Was at begin of line:184 :# ------------------
# Was at begin of line:196 :# Was at begin of line:196 :# Was at begin of line:185 :# Orphaned comments:
# Was at begin of line:197 :# Was at begin of line:197 :# Was at begin of line:186 :# ------------------
# Was at begin of line:198 :# Was at begin of line:198 :# Was at begin of line:187 :# Was at begin of line:152 :#    validation:
# Was at begin of line:199 :# Was at begin of line:199 :# Was at begin of line:188 :# Was at begin of line:153 :#      requests_enabled: true
# Was at begin of line:200 :# Was at begin of line:200 :# Was at begin of line:189 :# Was at begin of line:154 :#      responses_enabled: true
# Was at begin of line:201 :# Was at begin of line:201 :# Was at begin of line:190 :# Was at begin of line:155 :#    binary_storage_enabled: true
# Was at begin of line:202 :# Was at begin of line:202 :# Was at begin of line:191 :# Was at begin of line:156 :#    bulk_export_enabled: true
# Was at begin of line:203 :# Was at begin of line:203 :# Was at begin of line:192 :# Was at begin of line:157 :#    subscription:
# Was at begin of line:204 :# Was at begin of line:204 :# Was at begin of line:193 :# Was at begin of line:158 :#      resthook_enabled: true
# Was at begin of line:205 :# Was at begin of line:205 :# Was at begin of line:194 :# Was at begin of line:159 :#      websocket_enabled: false
# Was at begin of line:206 :# Was at begin of line:206 :# Was at begin of line:195 :# Was at begin of line:160 :#      email:
# Was at begin of line:207 :# Was at begin of line:207 :# Was at begin of line:196 :# Was at begin of line:161 :#        from: some@test.com
# Was at begin of line:208 :# Was at begin of line:208 :# Was at begin of line:197 :# Was at begin of line:162 :#        host: google.com
# Was at begin of line:209 :# Was at begin of line:209 :# Was at begin of line:198 :# Was at begin of line:163 :#        port:
# Was at begin of line:210 :# Was at begin of line:210 :# Was at begin of line:199 :# Was at begin of line:164 :#        username:
# Was at begin of line:211 :# Was at begin of line:211 :# Was at begin of line:200 :# Was at begin of line:165 :#        password:
# Was at begin of line:212 :# Was at begin of line:212 :# Was at begin of line:201 :# Was at begin of line:166 :#        auth:
# Was at begin of line:213 :# Was at begin of line:213 :# Was at begin of line:202 :# Was at begin of line:167 :#        startTlsEnable:
# Was at begin of line:214 :# Was at begin of line:214 :# Was at begin of line:203 :# Was at begin of line:168 :#        startTlsRequired:
# Was at begin of line:215 :# Was at begin of line:215 :# Was at begin of line:204 :# Was at begin of line:169 :#        quitWait:
# Was at begin of line:216 :# Was at begin of line:216 :# Was at begin of line:205 :# Was at begin of line:170 :#    lastn_enabled: true
# Was at begin of line:217 :# Was at begin of line:217 :# Was at begin of line:206 :# Was at begin of line:171 :#    store_resource_in_lucene_index_enabled: true
# Was at begin of line:218 :# Was at begin of line:218 :# Was at begin of line:207 :# Was at begin of line:172 :###  This is configuration for normalized quantity serach level default is 0
# Was at begin of line:219 :# Was at begin of line:219 :# Was at begin of line:208 :# Was at begin of line:173 :###   0: NORMALIZED_QUANTITY_SEARCH_NOT_SUPPORTED - default
# Was at begin of line:220 :# Was at begin of line:220 :# Was at begin of line:209 :# Was at begin of line:174 :###   1: NORMALIZED_QUANTITY_STORAGE_SUPPORTED
# Was at begin of line:221 :# Was at begin of line:221 :# Was at begin of line:210 :# Was at begin of line:175 :###   2: NORMALIZED_QUANTITY_SEARCH_SUPPORTED
# Was at begin of line:222 :# Was at begin of line:222 :# Was at begin of line:211 :# Was at begin of line:176 :#    normalized_quantity_search_level: 2
# Was at begin of line:223 :# Was at begin of line:223 :# Was at begin of line:212 :# Was at begin of line:177 :#elasticsearch:
# Was at begin of line:224 :# Was at begin of line:224 :# Was at begin of line:213 :# Was at begin of line:178 :#  debug:
# Was at begin of line:225 :# Was at begin of line:225 :# Was at begin of line:214 :# Was at begin of line:179 :#    pretty_print_json_log: false
# Was at begin of line:226 :# Was at begin of line:226 :# Was at begin of line:215 :# Was at begin of line:180 :#    refresh_after_write: false
# Was at begin of line:227 :# Was at begin of line:227 :# Was at begin of line:216 :# Was at begin of line:181 :#  enabled: false
# Was at begin of line:228 :# Was at begin of line:228 :# Was at begin of line:217 :# Was at begin of line:182 :#  password: SomePassword
# Was at begin of line:229 :# Was at begin of line:229 :# Was at begin of line:218 :# Was at begin of line:183 :#  required_index_status: YELLOW
# Was at begin of line:230 :# Was at begin of line:230 :# Was at begin of line:219 :# Was at begin of line:184 :#  rest_url: 'localhost:9200'
# Was at begin of line:231 :# Was at begin of line:231 :# Was at begin of line:220 :# Was at begin of line:185 :#  protocol: 'http'
# Was at begin of line:232 :# Was at begin of line:232 :# Was at begin of line:221 :# Was at begin of line:186 :#  schema_management_strategy: CREATE
# Was at begin of line:233 :# Was at begin of line:233 :# Was at begin of line:222 :# Was at begin of line:187 :#  username: SomeUsername