<configuration scan="true" scanPeriod="30 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
		<includeMdcKeyName>X-Correlation-Id</includeMdcKeyName>
			<fieldNames>
				<timestamp>[ignore]</timestamp>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
			</fieldNames>
		</encoder>
	</appender>

	<logger name="org.springframework.beans" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.core" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
