<mat-card class="display">
  <mat-card-content>
    <mat-form-field>
      <mat-label>FHIRPath Expression</mat-label>
      <input [formControl]="fhirPathExpression" matInput/>
    </mat-form-field>
    <div>Result</div>
    <pre><code [highlight]="getFhirPathResult()" [lineNumbers]="true"></code></pre>
    <div>Resource</div>
    <input
      (change)="fileChange($event)"
      accept=".json"
      placeholder="Upload resource"
      type="file"
    />
    <pre><code [highlight]="getJson()" [lineNumbers]="true"></code></pre>
  </mat-card-content>
</mat-card>
