apiVersion: v2
name: hapi-fhir-jpaserver
description: A Helm chart for deploying the HAPI FHIR JPA server starter on Kubernetes.
type: application
home: https://github.com/hapifhir/hapi-fhir-jpaserver-starter
sources:
  - https://github.com/hapifhir/hapi-fhir-jpaserver-starter
dependencies:
  - name: postgresql
    version: 14.3.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled
appVersion: 7.0.3
version: 0.16.0
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
    - url: https://artifacthub.io/packages/helm/bitnami/postgresql
  artifacthub.io/changes: |
    # When using the list of objects option the valid supported kinds are
    # added, changed, deprecated, removed, fixed, and security.
    - kind: changed
      description: updated starter image to v7.0.3
    - kind: changed
      description: updated curlimages/curl to 8.6.0
    - kind: changed
      description: "updated postgresql sub-chart to 14.3.1."
