@use '../../variables';

.card-maps {
  margin-bottom: 10px;
}

.app-ace-editor {
  border: 2px solid #f8f9fa;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

ul {
  list-style: none;
  padding: 0;
}
.clickable .issue {
  cursor: pointer;
}

.issue {
  border: 1px solid #e1e1e1;
  background: #fbfbfb;
  border-radius: 5px;
  padding: 5px 8px;
  --color: #000;
  border-left: 4px solid var(--color);
  margin-bottom: 4px;

  p {
    margin: 2px 0 0 0;
  }
  .severity {
    color: var(--color);
    font-weight: 600;
  }
  &.fatal,
  &.error {
    --color: #{variables.$issue-error};
  }
  &.warning {
    --color: #{variables.$issue-warning};
  }
  &.information {
    --color: #{variables.$issue-info};
  }
  .details {
    font-weight: 700;
    font-size: large;
  }
}

:host ::ng-deep .issue {
  .code {
    font-size: 0.9em;
    color: #636363;
  }
  & > span > code {
    background: #e1e1e1;
    border-radius: 4px;
    padding: 2px 4px;
    font-family: courier, monospace;
  }
}

::ng-deep .ace-highlight-fatal {
  position: absolute; /* without this positions will be erong */
  background: #cc3300; /* color */
  opacity: 0.4;
}

::ng-deep .ace-highlight-error {
  position: absolute; /* without this positions will be erong */
  background: #ff9966; /* color */
  opacity: 0.4;
}

::ng-deep .ace-highlight-warning {
  position: absolute; /* without this positions will be erong */
  background: #ffcc00; /* color */
  opacity: 0.4;
}

::ng-deep .ace-highlight-information {
  position: absolute; /* without this positions will be erong */
  background: #99cc33; /* color */
  opacity: 0.4;
}
