<header>
  <div class="logo-container" routerLink="/">
    <img alt="Matchbox logo" height="40" src="assets/matchbox_logo_color.png" width="95"/>
    <span class="version">v{{ version }}</span>
  </div>

  <nav>
    <div routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </div>
    <div routerLink="/CapabilityStatement">
      <mat-icon>info</mat-icon>
      <span>CapabilityStatement</span>
    </div>
    <div routerLink="/igs">
      <mat-icon>info</mat-icon>
      <span>IGs</span>
    </div>
    <div routerLink="/mappinglanguage">
      <mat-icon>search</mat-icon>
      <span>FHIR Mapping</span>
    </div>
    <div routerLink="/transform">
      <mat-icon>transform</mat-icon>
      <span>Transform</span>
    </div>
    <div routerLink="/validate">
      <mat-icon>rule</mat-icon>
      <span>Validate</span>
    </div>
    <div routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </div>
  </nav>
</header>

<main class="mat-typography">
  <!-- Include the routed page here -->
  <router-outlet></router-outlet>
</main>
