@import '../../_variables';

:host {
  margin: 0 auto;
  min-width: 1400px;
  width: 100%;
}
button.setting {
  float: right;
  mat-icon {
    vertical-align: middle;
  }
}
p.current {
  margin: 10px 0;
  span {
    font-weight: 500;
  }
}
mat-hint {
  color: #7db99e;
}
p.error {
  color: $issue-error;
  margin-top: 20px;
  mat-icon {
    vertical-align: middle;
  }
}
.row {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin: 1em auto;
  min-width: 1400px;
  width: 100%;
  justify-content: space-evenly;
  & > div {
    width: 46%;
  }
}

.mat-table {
  .mat-cell,
  .mat-header-cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

table {
  width: 100%;

  .selected {
    background: #d8f1e6;
  }
  .mat-row {
    cursor: pointer;
  }
  td.issues {
    font-size: 12px;
    line-height: 12px;
    color: #818181;

    mat-icon {
      width: 12px;
      height: 12px;
      margin-right: 2px;
      vertical-align: bottom;

      &.error {
        color: $issue-error;
      }
      &.warning {
        color: $issue-warning;
      }
      &.info {
        color: $issue-info;
      }
    }
  }
  td.actions {
    mat-icon {
      font-size: 24px;
      color: $issue-error;
    }
  }
}

.form-field-group {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;

  mat-form-field {
    width: 100%;
  }
}

.card-maps {
  padding: 8px 16px;
}
.row-full-height .card-maps {
  height: 96vh;
  max-height: 96vh;
  overflow-y: auto;
}
#editor {
  height: calc(100% - 50px);
}

.column50 {
  width: 40%;
}
