<div class="row">
  <div class="card-maps white-block">
    <button (click)="toggleSettings()" mat-menu-item class="setting">
      <mat-icon>settings</mat-icon>
    </button>
    <h2>Validate FHIR Resource</h2>

    <ng-container *ngIf="!showSettings">
      <app-upload (addFiles)="addFile($event)"></app-upload>

      <p class="current">
        Current resource loaded:
        <ng-container *ngIf="currentResource">
          <span>{{ currentResource.resourceType }}</span> (from <em>{{ currentResource.filename }}</em>)
        </ng-container>
        <em *ngIf="!currentResource">none</em>
      </p>

      <div class="form-field-group">
        <mat-form-field>
          <mat-label>Validation profile (required)</mat-label>
          <mat-select [(ngModel)]="selectedProfile" id="select-profile"
                      name="selectProfile" placeholder="Validate against specific Profile">
            <mat-select-trigger *ngIf="supportedProfiles.get(selectedProfile) as profile">
              <span class="profile-select-option-line1">
                <span class="ig">{{ profile.igId }}#{{profile.igVersion }}</span>
                <span class="title" [title]="profile.title">{{ profile.title }}</span>
              </span>
              <span class="profile-select-option-line2">
                <span class="canonical">{{ profile.canonical }}</span>
              </span>
            </mat-select-trigger>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Find a profile…"
                                     noEntriesFoundLabel="'no matching profile found'"
                                     [(ngModel)]="profileFilter"
                                     (ngModelChange)="updateProfileFilter()"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let profile of filteredProfiles" [value]="profile.canonical">
              <span class="profile-select-option-line1">
                <span class="ig">{{ profile.igId }}#{{profile.igVersion }}</span>
                <span class="title" [title]="profile.title">{{ profile.title }}</span>
              </span>
              <span class="profile-select-option-line2">
                <span class="canonical">{{ profile.canonical }}</span>
              </span>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="profileControl.hasError('required')">Please choose a profile</mat-error>
          <mat-hint>A profile is required to validate against.</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field-group">
        <mat-form-field>
          <mat-label>Validation IG</mat-label>
          <mat-select [(ngModel)]="selectedIg" name="selectIg"
                      placeholder="Validate against specific Implementation Guide">
            <mat-option [value]="AUTO_IG_SELECTION"><em>Automatic selection</em></mat-option>
            <mat-option *ngFor="let ig of installedIgs" [value]="ig">
              {{ ig }}
            </mat-option>
          </mat-select>
          <mat-hint>A specific IG version may be specified.</mat-hint>
        </mat-form-field>
      </div>

      <button color="primary" mat-raised-button (click)="onValidate()">Validate</button>

      <p *ngIf="errorMessage" class="error"><mat-icon>report</mat-icon> Error: {{ errorMessage }}</p>
    </ng-container>

    <ng-container *ngIf="showSettings">
      <div *ngFor="let setting of validatorSettings" class="form-field-group">
        <mat-form-field class="column50">
          <mat-label>{{ setting.param.name }}</mat-label>
          <input [formControl]="setting.formControl" matInput/>
        </mat-form-field>
      </div>
    </ng-container>
  </div>

  <div class="card-maps white-block">
    <h2>Validation history</h2>

    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell">Resource</th>
        <th class="mat-header-cell">Profile/IG</th>
        <th class="mat-header-cell">Issues</th>
        <th class="mat-header-cell">Actions</th>
      </tr>
      <tr *ngFor="let entry of validationEntries"
          class="mat-row"
          [ngClass]="{selected: entry === selectedEntry}"
          (click)="show(entry)">
        <td class="mat-cell">
          {{ entry.filename }}<br />
          <time>{{ entry.date | date:'HH:mm:ss' }}</time><at></at>
        </td>
        <td class="mat-cell">
          {{ entry.selectedProfile }}<br />
          {{ entry.ig }}
        </td>
        <td class="issues mat-cell">
          <mat-spinner *ngIf="entry.loading" diameter="30"></mat-spinner>
          <ng-container *ngIf="!entry.loading">
            <mat-icon inline class="error">error</mat-icon>{{ entry.result ? entry.getErrors() : '-' }}<br />
            <mat-icon inline class="warning">warning</mat-icon>{{ entry.result ? entry.getWarnings() : '-' }}<br />
            <mat-icon inline class="info">info</mat-icon>{{ entry.result ? entry.getInfos() : '-' }}
          </ng-container>
        </td>
        <td class="actions mat-cell">
          <mat-icon (click)="removeEntryFromHistory(entry)" aria-label="Remove" title="Remove from history">delete</mat-icon>
        </td>
      </tr>
    </table>

    <mat-card-actions>
      <button (click)="onClear()" mat-raised-button type="submit">Clear history</button>
    </mat-card-actions>
  </div>
</div>


<div class="row row-full-height">
  <div class="card-maps white-block">
    <h2>Result of the validation</h2>

    <dl *ngIf="selectedEntry">
      <dt>Filename</dt>
      <dd>{{ selectedEntry.filename }}</dd>
      <dt>Profile</dt>
      <dd>{{ selectedEntry.selectedProfile }}</dd>
      <dt>IG</dt>
      <dd>{{ selectedEntry.ig }}</dd>
    </dl>

    <app-operation-result *ngIf="selectedEntry && selectedEntry.result"
                           [operationResult]="selectedEntry.result"
                           (select)="highlightIssue($event)"></app-operation-result>
    <mat-spinner *ngIf="selectedEntry && selectedEntry.loading" diameter="30"></mat-spinner>
  </div>
  <div class="card-maps white-block">
    <h2>Document content</h2>

    <div id="editor"></div>
  </div>
</div>
