<div class="row">
  <div class="card-maps white-block">
    <h2>Validate FHIR Resource</h2>

    <app-upload (addFiles)="addFile($event)"></app-upload>

    <div class="form-field-group">
      New validation for: {{ resourceName }} / {{ resourceId }}
    </div>

    <div class="form-field-group">
      <mat-form-field>
        <mat-select [ngModel]="selectedProfile"
                    name="selectProfile" placeholder="Validate against specific Profile">
          <mat-option *ngFor="let profile of profiles" [value]="profile">
            {{ profile }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-field-group">
      <mat-form-field>
        <mat-select [ngModel]="selectedIg" name="selectIg" placeholder="Validate against specific Implementation Guide">
          <mat-option *ngFor="let ig of installedIgs" [value]="ig">
            {{ ig }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button color="primary" mat-raised-button (click)="onValidate()">Validate</button>
  </div>

  <div class="card-maps white-block">
    <h2>Validation history</h2>

    <table class="mat-table">
      <tr class="mat-header-row">
        <th class="mat-header-cell">Resource</th>
        <th class="mat-header-cell">Profile/IG</th>
        <th class="mat-header-cell">Issues</th>
        <th class="mat-header-cell">Actions</th>
      </tr>
      <tr *ngFor="let entry of validationEntries"
          class="mat-row"
          [ngClass]="{selected: entry === selectedEntry}"
          (click)="show(entry)">
        <td class="mat-cell">
          {{ entry.filename }}<br />
          <time>{{ entry.date | date:'HH:mm:ss' }}</time>
        </td>
        <td class="mat-cell">
          {{ entry.selectedProfile }}<br />
          {{ entry.ig }}
        </td>
        <td class="issues mat-cell">
          <mat-icon inline class="error">error</mat-icon>{{ entry.result ? entry.getErrors() : '-' }}<br />
          <mat-icon inline class="warning">warning</mat-icon>{{ entry.result ? entry.getWarnings() : '-' }}<br />
          <mat-icon inline class="info">info</mat-icon>{{ entry.result ? entry.getInfos() : '-' }}
        </td>
        <td class="actions mat-cell">
          <mat-icon (click)="removeEntryFromHistory(entry)" aria-label="Remove" title="Remove from history">delete</mat-icon>
        </td>
      </tr>
    </table>

    <mat-card-actions>
      <button (click)="onClear()" mat-raised-button type="submit">Clear history</button>
    </mat-card-actions>
  </div>
</div>


<div class="row">
  <div class="card-maps white-block">
    <h2>Result of the validation</h2>

    <dl *ngIf="selectedEntry">
      <dt>Filename</dt>
      <dd>{{ selectedEntry.filename }}</dd>
      <dt>Profile</dt>
      <dd>{{ selectedEntry.selectedProfile }}</dd>
      <dt>IG</dt>
      <dd>{{ selectedEntry.ig }}</dd>
    </dl>

    <app-operation-result *ngIf="selectedEntry && selectedEntry.result"
                           [operationResult]="selectedEntry.result"
                           (select)="highlightIssue($event)"></app-operation-result>
    <mat-spinner *ngIf="selectedEntry && selectedEntry.loading" diameter="30"></mat-spinner>
  </div>
  <div class="card-maps white-block">
    <h2>Document content</h2>

    <div id="editor"></div>
  </div>
</div>

<div class="row">
  <div class="card-maps white-block">
    <mat-card-content>
      <button (click)="toggleSettings()" mat-menu-item>
        <mat-icon>settings</mat-icon>
      </button>

      <ng-container *ngIf="showSettings">
        <div *ngFor="let setting of validatorSettings" class="form-field-group">
          <mat-form-field class="column50">
            <mat-label>{{ setting.param.name }}</mat-label>
            <input [formControl]="setting.formControl" matInput/>
          </mat-form-field>
        </div>
      </ng-container>
    </mat-card-content>
  </div>
</div>
