@use '../../variables';



table {
    width: 100%;
    border-collapse: collapse;

    thead {
        border-bottom: 1px solid rgb(209, 213, 219);
        padding-bottom: 1rem;
    }

    tbody {
        tr {
            &:hover {
                background: #eee
            }

            &.severity-error {
                background-color: #fe2727af;  

                &:hover td {
                    background-color: #e52323af;
                }
            }

            &.severity-warning {
                background-color: #feffe0;

                &:hover {
                    background-color: #f1f2c4;
                }
            }

            td {
            border-bottom: 1px solid rgb(229, 231, 235);

                &.text-center {
                    text-align: center;
                }

                mat-icon {
                    margin-right: 2px;
                    vertical-align: bottom;

                    &.error {
                        color: variables.$issue-error;
                    }

                    &.warning {
                        color: variables.$issue-warning;
                    }

                    &.info {
                        color: variables.$issue-info;
                    }
                }
            }   
        }
        
    }
}

.search-params {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .param {
        padding-right: 1rem;

        &.ig {
            width: 100%;
        }
    }

}


.operation-outcome-row pre {
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #bae792;
}

.pointer {
    cursor: pointer;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;

    .page-info {
        flex: 1;
    }

    .nav-buttons {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 8px;
    }

    .count-info {
        flex: 1;
        text-align: right;
    }
}