<div class="white-block">
    <h2>OperationOutcomes stored on the server</h2>

    <div class="search-params">
        <h3>Search Parameters</h3>
        <mat-form-field class="param">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="startDate" [formControl]="filterStartDate">
            <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="param">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="endDate" [formControl]="filterEndDate">
            <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="param">
            <mat-label>Issues</mat-label>
            <mat-select [formControl]="filterSelectedIssues" multiple>
                <mat-option value="information">Information</mat-option>
                <mat-option value="warning">Warning</mat-option>
                <mat-option value="error">Error</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="param ig">
            <mat-label>ImplementationGuide</mat-label>
            <mat-select [formControl]="filterIGs" multiple>
                @for (ig of implementationGuides; track ig.id) {
                    <mat-option [value]="ig.packageId + '#' + ig.version">{{ ig.packageId }}#{{ ig.version }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-raised-button (click)="filterOutcomes()">Search</button>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Profile/IG</th>
                <th>Runtime</th>
                <th>Issues</th>
            </tr>
        </thead>
        <tbody>
            @for (outcome of operationOutcomes; track outcome.id) {
                <tr class="pointer" [class]="'severity-' + getHighestSeverity(outcome)"
                    (click)="selectRow(outcome.id)"
                    >
                    <td class="text-center">{{ getFormattedDate(outcome) }}</td>
                    <td>
                        Profile: {{ getProfile(outcome) }}<br/>
                        IG: {{ getIg(outcome) }}
                    </td>
                    <td class="text-center">{{ getRuntime(outcome) }}ms</td>
                    <td class="text-center">
                        <mat-icon inline class="error">error</mat-icon>
                        {{ getErrors(outcome) }}<br/>
                        <mat-icon inline class="warning">warning</mat-icon>
                        {{ getWarnings(outcome) }}<br/>
                        <mat-icon inline class="info">info</mat-icon>
                        {{ getInfos(outcome) }}
                    </td>
                </tr>

                @if (selectedOutcomeId === outcome.id) {
                    <tr class="operation-outcome-row">
                        <td  colspan="4">
                            <h4>Full Operation Outcome</h4>
                            <pre>{{ outcome | json }}</pre>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <div class="nav-container">
        <span class="page-info">Page: {{ currentPage }}</span>
        <div class="nav-buttons">
            <button matIconButton class="nav-button" (click)="switchToPreviousSite()" [disabled]="!hasPreviousBundle">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button matIconButton class="nav-button" (click)="switchToNextSite()" [disabled]="!hasNextBundle">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
        @if (totalEntries > 0){
        <span class="count-info">{{ calculateAmountOfEntriesShown() }} of {{ totalEntries }}</span>
        } @else {
            <span class="count-info"></span>
        }
    </div>
</div>