/* Product families should override the following colors with family-specific colors */
:root {
  --navbar-bg-color: #505050; /* 2. Header container color */
  --footer-bg-color: #707070; /* 3. Footer background color*/
  --footer-container-bg-color: #505050; /* 4. Footer container color */
  --btn-hover-color: #808080;  /* 6. Menu button hover color */
}

/* Generic settings common to all HL7 IGs */
:root {
  --stripe-bg-color: #999999; /* 5. Header strip color */
  --btn-active-color: #da0c23; /* 7. Menu button active color */
  --btn-text-color: #e6e6e6; /* 8. Menu button text color */
  --stu-note-background-color: #fff2ff; /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ffa0ff; /* 20. (STU) Note box border color */
}

#hl7-nav {
  line-height: 50px;
  float: left;
  margin-top: 4px;
}

#hl7-nav a {
  color: inherit;
}

#hl7-logo {
  float: left;
  margin-left: 6px;
}
#hl7-search {
  line-height: 50px;
  float: right;
  margin-top: 4px;
  color: maroon;
}
#hl7-search a {
  color: inherit;
}
#project-nav {
  line-height: 50px;
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #808080;
}
#project-logo {
  float: left;
  margin-left: 3px;
}

/* ----------note-to-balloters styling------*/

.note-to-balloters::before {
  white-space: pre;
  content: "Note To Balloters\A ";
  #background-color: yellow;
  color: red;
  font-weight: bold;
}
.note-to-balloters, .stu-note{
    margin: 5px;
    padding: 10px;
    border-left-style: solid;
}

.stu-note::before {
  white-space: pre;
  content: "STU Note\A ";
  #background-color: yellow;
  color: red;
  font-weight: bold;
}