@use '@angular/material' as mat;
@use 'sass:color';
@use "sass:map";

$md-mcgpalette0: (
  50: #e8ebee,
  100: #c5ced5,
  200: #9eaeb9,
  300: #778d9d,
  400: #5a7488,
  500: #97d6ba,
  600: #37546b,
  700: #2f4a60,
  800: #274156,
  900: #1a3043,
  A100: #84c3ff,
  A200: #51aaff,
  A400: #1e91ff,
  A700: #0485ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$my-primary: mat.m2-define-palette($md-mcgpalette0, 500, 50, 300);
$my-accent: mat.m2-define-palette($md-mcgpalette0, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$green-primary: #97d6ba;
$green-dark: #3d5c73;
$green-light: #d2eade;

$issue-error: #d9534f;
$issue-warning: #f0ad4e;
$issue-info: #4ca8de;

@function my-mat-light-theme-foreground($color) {
  @return (
    base: $color,
    divider: rgba(black, 0.12),
    dividers: rgba(black, 0.12),
    disabled: rgba($color, 0.38),
    disabled-button: rgba($color, 0.38),
    disabled-text: rgba($color, 0.38),
    hint-text: rgba($color, 0.38),
    secondary-text: rgba($color, 0.54),
    icon: rgba($color, 0.54),
    icons: rgba($color, 0.54),
    text: rgba($color, 0.87),
    slider-off: rgba($color, 0.26),
    slider-off-active: rgba($color, 0.38)
  );
}

$theme: map.merge(
  mat.m2-define-light-theme((
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn
    ),
    typography: mat.m2-define-typography-config(),
    density: -1, // https://material.angular.io/guide/theming#customizing-density
  )),
  (
    foreground: my-mat-light-theme-foreground(color.scale(#113549, $lightness: -5%)),
  )
);
