@use '@angular/material' as mat;
@import 'variables';
@import '~highlight.js/styles/github.css';

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();
@include mat.all-legacy-component-themes($theme);

body {
  background: #e2e7ea;

  &,
  html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
  }
}

$primary: map-get($theme, primary);
$outer-space: 1.5rem;

.mat-card.primary {
  padding: $outer-space;

  .primary-card-header {
    margin: -$outer-space;
    margin-bottom: 0;
    padding-top: $outer-space;
    padding-left: $outer-space;
    padding-right: $outer-space;

    h1 {
      margin-bottom: 0;
    }

    .mat-card-header-text {
      display: none;
    }

    @media screen and (min-width: 1020px) {
      background-color: mat.get-color-from-palette($primary);
      color: white;
      border-radius: 4px 4px 0 0;
      padding-bottom: $outer-space;
    }
  }

  .mat-card-content {
    padding-top: $outer-space;
  }
}
