@use '@angular/material' as mat;
@import '_variables';
@import '~highlight.js/styles/github.css';

@include mat.core();
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);
@include mat.all-component-typographies($theme);

body {
  background: #e2e7ea;

  &,
  html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, Arial, sans-serif;
  }
}

$primary: map-get($theme, primary);
$outer-space: 1.5rem;

.mat-card.primary {
  padding: $outer-space;

  .primary-card-header {
    margin: -$outer-space;
    margin-bottom: 0;
    padding-top: $outer-space;
    padding-left: $outer-space;
    padding-right: $outer-space;

    h1 {
      margin-bottom: 0;
    }

    .mat-card-header-text {
      display: none;
    }

    @media screen and (min-width: 1020px) {
      background-color: mat.get-color-from-palette($primary);
      color: white;
      border-radius: 4px 4px 0 0;
      padding-bottom: $outer-space;
    }
  }

  .mat-card-content {
    padding-top: $outer-space;
  }
}

/* -------------- */
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/InterVariable.woff2") format("woff2");
}
@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("assets/InterVariable-Italic.woff2") format("woff2");
}
body {
  font-size: 14px;
  font-family: InterVariable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.white-block {
  background: #fff;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
  padding: 16px;
  border-radius: 4px;

  h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0.3em 0;
  }
  h5 {
    color: #959595;
    font-size: 1em;
  }
}

table {
  th {
    font-weight: 600;
    color: #272727;
  }
}

button {
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &.primary {
    background-color: #97d6ba;
    color: #fff;
  }
}

.ace_editor {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}

@media screen and (min-width: 1020px) {
  main > app-home,
  main > app-capability-statement,
  main > app-igs,
  main > app-fhir-path,
  main > app-mapping-language,
  main > app-transform,
  main > app-settings {
    margin: 0 auto;
    padding: 3rem 0;
    width: 1000px;
    display: block;
  }
}
