name: Build Container Images

on:
  push:
    tags:
      - "image/v*"
    paths-ignore:
      - "charts/**"
  pull_request:
    branches: [master]
    paths-ignore:
      - "charts/**"
env:
  IMAGES: docker.io/hapiproject/hapi
  PLATFORMS: linux/amd64,linux/arm64/v8

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Container meta for default (distroless) image
        id: docker_meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGES }}
          tags: |
            type=match,pattern=image-(.*),group=1,enable=${{github.event_name != 'pull_request'}}
           

      - name: Container meta for tomcat image
        id: docker_tomcat_meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.IMAGES }}
          tags: |
            type=match,pattern=image-(.*),group=1,enable=${{github.event_name != 'pull_request'}}
          flavor: |
            suffix=-tomcat,onlatest=true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and push default (distroless) image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          platforms: ${{ env.PLATFORMS }}
          target: default

      - name: Build and push tomcat image
        id: docker_build_tomcat
        uses: docker/build-push-action@v2
        with:
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_tomcat_meta.outputs.tags }}
          labels: ${{ steps.docker_tomcat_meta.outputs.labels }}
          platforms: ${{ env.PLATFORMS }}
          target: tomcat
